body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg, #0b6623, #14532d);
    color: white;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 500px;
    margin: 30px auto;
    max-width: 95vw;
}

.cell {
    background: white;
    color: black;
    padding: 8px;

    aspect-ratio: 1 / 1; /* 🔥 MAGIC - pătrat perfect */

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;

    transition: 0.2s;

     white-space: pre-line;
}
.cell:hover {
    transform: scale(1.05);
}

.checked {
    background: gold;
}

.crossed {
    text-decoration: line-through;
}

#winPopup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 30px;
    border-radius: 15px;
}



.win {
    border: 3px solid red;
    transform: scale(1.1);
}

.joker {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.hidden {
    display: none;
}

/* 🔽 MOBILE IMPROVEMENTS */



@media (max-width: 600px) {
      #board {
        gap: 6px;
    }
    .cell {
        font-size: 10px;
        padding: 4px;
    }

    .joker {
        font-size: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 14px;
    }
}

button {
    font-size: 18px;
    padding: 12px 20px;
    margin-top: 10px;
}

body {
    max-width: 500px;
    margin: auto;
}
